body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: #1F2937;
  color: #F9FAF8;
}

.title-navbar {
  font-size: 1.5rem;
  margin: 0.5rem;
  padding-left: 50px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #F9FAF8;
  padding: 20px;
  font-size: 1.3rem;
  
}

.navbar-links li:hover {
  background-color: grey;
}

.hero {
  display: flex;
  position: relative;
  align-items: center;
  background: #1F2937;
  color: #F9FAF8;
}

.hero-text {
  padding: 60px;
  
}

.hero-title {
  font-size: 50px;
}

.hero-paragraph {
  font-size: 20px;
}

.hero-image {
  padding: 100px;
}

.hero-axolotl-img {
  width: auto;
  height: 500px;
}

.hero-button {
  background-color: #3882F6;
  border-color: #3882F6;
  font-size: 20px;
  color: #F9FAF8;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;

}

#image {
  width: auto;
  height: 300px;
}

.img-navigation {
  background-color: rgb(177, 177, 177);
}


.img-nav-text {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 30px;
}

.img-nav-images {
  display: flex;
  justify-content: space-around;
  
}

.image-border {
  border: solid rgb(0, 68, 255) 5px;
  border-radius: 10%;
}

figcaption {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 17px;
}

.quote-hero {
  background-color: #E5E7EB;
}

.quote-text {
  color: #1F2937;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-top: 100px;
  
}

.quote-author {
  color:#1F2937;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 600px;
  padding-bottom: 40px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  color:#F9FAF8;
  padding: 10px;
}